nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")= 'Washapp'
    
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
       if !isAuthenticated
        li
          a(href="http://localhost:3000/users/signup")= 'Registrarse'
        li
          a(href="http://localhost:3000/users/signin")= 'Iniciar Sesion'
        li(class="dropdown")
       if isAuthenticated
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= user.usuario
            span(class="caret")
          ul(class="dropdown-menu")
             li
               a(href="http://localhost:3000/users/panel")= 'Perfil'
             li
               a(href="http://localhost:3000/users/cpedidos")= 'Consultar Pedidos'
             li
               a(href="http://localhost:3000/users/ppanel")= 'Registrar Pedido Nuevo'
             li
               a(href="http://localhost:3000/users/ePanel")= 'Estatus Pedidos'
              li
               a(href="http://localhost:3000/users/mestatus")= 'Modificar Estatus'  
             li
               a(href="http://localhost:3000/users/panel")= 'Historial'    
             li
               a(href="http://localhost:3000/users/logout")= 'Cerrar Sesion'
